<div class="container">
    <h3><%= @restaurant.name %></h3>
    <h6>Cuisine: <%= @restaurant.category %></h4>
    <h6>Address: <%= @restaurant.address %></h5>
    <h4>Reviews</h4>
    <% if @reviews.empty? %>
        <h5>There are no reviews yet, <%= link_to "leave one now!", new_restaurant_review_path(@restaurant) %></h5>
    <% else %>
        <% @reviews.each do |review| %>
            <hr>
            <div class="card">
                <h6><%= review.content %></h6>
                <h6><%= review.rating %></h4>
            </div>
            
        <% end %>
    <% end %>
    <%= link_to "Leave a review now!", new_restaurant_review_path(@restaurant) %>
</div>